{%extends 'home.html'%}

{% block content%}
{% load static %}
<style>
    @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

    .mt-100 {
        margin-top: 100px
    }

    .mb-100 {
        margin-bottom: 100px
    }

    .card {
        width:581px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid transparent;
        border-radius: 0px
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem
    }

    .card .card-title {
        position: relative;
        font-weight: 600;
        margin-bottom: 10px
    }

    .comment-widgets {
        position: relative;
        margin-bottom: 10px
    }

    .comment-widgets .comment-row {
        border-bottom: 1px solid transparent;
        padding: 14px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 10px 0
    }

    .p-2 {
        padding: 0.5rem !important
    }

    .comment-text {
        padding-left: 15px
    }

    .w-100 {
        width: 100% !important
    }

    .m-b-15 {
        margin-bottom: 15px
    }

    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.76563rem;
        line-height: 1.5;
        border-radius: 1px
    }

    .btn-cyan {
        color: #fff;
        background-color: #27a9e3;
        border-color: #27a9e3
    }

    .btn-cyan:hover {
        color: #fff;
        background-color: #1a93ca;
        border-color: #198bbe
    }

    .comment-widgets .comment-row:hover {
        background: rgba(0, 0, 0, 0.05)
    }
</style>

<body>
    <div class="container" style="margin:50px">
        <div style="margin: 0 auto; width: fit-content;">
            {% for PostImage in PostImages %}
                {% if PostImage.post_id == post.id%}
                   <img class="card-img-top photo" style="width:300px" src="{{PostImage.image}}" alt="">
                   {{ break }}
                {%endif%}
            {% endfor %}
        </div>
        <div style="margin: 15px auto; width: fit-content;">
            <h2>
                {{post.title}}
            </h2>
        </div>
        <div style="margin: 15px auto; width: fit-content; padding:80px">
            <h6>
                {{post.description}}
            </h6>
        </div>
    </div>
    <div class="container">
        <form method="post" action="/addcomment/{{post.id}}/" style="margin:30px" class="row">{%csrf_token%}
            <textarea class="form-control" rows="3" style="resize:none;width:400px" name="comment" required></textarea>
            <input  type="Submit" value="add" style="height:30px;margin-left:50px">
        </form>
    </div>
    <div>
       <div class="row d-flex justify-content-center mt-100 mb-100">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">Latest Comments</h4>
                </div>
                {%for comment in comments %}
                <div class="comment-widgets">
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="comment-text w-100">
                            <h6 class="font-medium">{{comment.commentor}}</h6> <span class="m-b-15 d-block">{{comment.content}} </span>
                            <div class="comment-footer"> <span class="text-muted float-right">{{comment.created_on}}</span>
                                {%if request.user == comment.commentor %}
                                    <button type="button" class="btn btn-cyan btn-sm" >Edit</button>
                                    <a href="/deletecomment/{{comment.id}}/" type="button" class="btn btn-danger btn-sm">Delete</a>
                                {%endif%}
                            </div>
                        </div>
                    </div> <!-- Comment Row -->
                </div> <!-- Card -->
                {%endfor%}
            </div>
        </div>
      </div>
    </div>

    <button id="AjaxCheck">
        Ajxacheck
    </button>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
    $("#AjaxCheck").click(function () {
      var username = 'salamsagol'
      $.ajax({
        url: '/ajax/just/',
        data: {
          'username': username,
        },
        dataType: 'json',
        success: function (data) {
            console.log(data)
        }
      });
    });

    </script>

    <script src="{%static '/js/postdetail.js' %}"></script>
{% endblock content %}



